/* ==========================================================================
    FONTS IMPORT HERE
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700');
/* ==========================================================================
    BASE FRAMEWORK
   ========================================================================== */

@import '../bower_components/uikit/less/uikit.less';
/* ==========================================================================
   GLOBAL VARIABLES
   ========================================================================== */

//Styles
@main-font: 'Ubuntu',
sans-serif;
@main-size: 18px;
@font-header: 36px;
@tomato: #EC3225;
@black: #000000;
@white: #FFFFFF;
@wheat: #F7F7F7;
@gray: #979797;
@dark-gray: #353535;
@bg-gradient: linear-gradient(to bottom,
#ec3225,
#71160f);
//Viewport
@width-320: ~"only screen and (min-width: 320px)";
@width-360: ~"only screen and (min-width: 360px)";
@width-375: ~"only screen and (min-width: 375px)";
@width-480: ~"only screen and (min-width: 480px)";
@width-640: ~"only screen and (min-width: 640px)";
@width-690: ~"only screen and (min-width: 690px)";
@width-768: ~"only screen and (min-width: 768px)";
@width-768m: ~"screen and (max-width: 768px)";
@width-960: ~"only screen and (min-width: 960px)";
@width-980: ~"only screen and (min-width: 980px)";
@width-1024: ~"only screen and (min-width: 1024px)";
@width-1200: ~"only screen and (min-width: 1200px)";
@width-1366: ~"only screen and (min-width: 1366px)";
@width-1920: ~"only screen and (min-width: 1920px)";
@width-2560: ~"only screen and (min-width: 2560px)";
// MAX WIDTH AREA
@width-320max: ~"only screen and (max-width: 320px)";
@width-960max: ~"only screen and (max-width: 690px)";
@width-767max: ~"only screen and (max-width: 767px)";
/* ==========================================================================
   FRAMEWORK OVERRIDES
   ========================================================================== */

* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: @main-font;
}

h1 {
	font-size: @font-header;
}

// main body container
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	/* height of your footer */
}

.main {
	flex-grow: 1;
	padding-top: 110px;
}

.main,
.footer {
	flex-shrink: 0;
}

.uk-container {
	margin: 0 auto;
}

/* ==========================================================================
   SITE-WIDE STYLES & MIXINS
   ========================================================================== */

//Soft Transition
.soft-transition() {
	transition: all 0.4s ease;
}

//Buttons Mixins
// #region
.btn {
	position: relative;
	z-index: 1;
	padding: 10px 20px;
	color: @white;
	font-size: @main-size - 4px;
	font-family: @main-font;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	.soft-transition();
	@media @width-768 {
		font-size: @main-size + 2px;
	}
	&--tomato {
		background-color: @tomato;
		border: 1px solid @tomato;
		&:hover {
			background-color: @black;
			border: 1px solid @black;
			text-decoration: none;
			color: @white;
		}
	}
	&--transparent {
		background-color: transparent;
		border: 1px solid @white;
		&:hover {
			background-color: @tomato;
			border: 1px solid @tomato;
			text-decoration: none;
			color: @white;
		}
	}
	&--white {
		padding: 10px;
		background-color: @white;
		border: 1px solid @white;
		color: @tomato;
		@media @width-768 {
			padding: 10px 20px;
		}
		&:hover {
			background-color: @black;
			border: 1px solid @black;
			text-decoration: none;
			color: @white;
		}
	}
}

// #endregion
// #region Fields Mixins
.main-field() {
	width: 100%;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 4px;
	background-color: @wheat;
	border: solid 1px @dark-gray;
	outline: none;
	color: @black;
	&::placeholder {
		color: @black;
	}
}

.black-field() {
	width: 100%;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 4px;
	background-color: transparent;
	border: solid 1px @white;
	outline: none;
	color: @white;
	&::placeholder {
		color: @white;
	}
}

// #endregion
/* ==========================================================================
   GLOBAL PAGE SECTIONS ( Site Menu, Site Footer, etc )
   ========================================================================== */

// #region Main Navigaton
.navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	width: auto;
	height: auto;
	padding: 30px 15px;
	border-bottom: 5px solid @tomato;
	background-color: @white;
	&-container {
		&__logo {
			width: 166px;
			height: 45px;
		}
	}
} //mobile navigation
.hamburger-menu {
	padding: 5px 0;
	text-align: right;
	&__menu-link {
		.soft-transition();
		color: @black;
		&:hover {
			color: @tomato;
		}
	}
}

.slide-menu {
	width: 200px;
	background-color: @white;
	.uk-close {
		.soft-transition();
		position: absolute;
		right: 15px;
		top: 13px;
		font-size: 24px;
		color: @black;
		opacity: 1;
		&:hover {
			color: @tomato;
		}
	}
	&__nav {
		padding-top: 60px;
		text-align: center;
	}
	&__list {
		padding: 0;
		list-style: none;
	}
	&__links {
		.soft-transition();
		padding: 10px 20px;
		text-align: left;
		text-transform: uppercase;
		&:hover {
			background-color: @tomato;
		}
	}
	&__names {
		font-size: @main-size - 4px;
		font-weight: bold;
		color: @black;
		text-decoration: none;
	}
}

//desktop navigation
.desktop-menu {
	padding: 13px 0;
	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&__links {
		display: inline-block;
		text-transform: uppercase;
	}
	&__names {
		.soft-transition();
		padding: 0 10px;
		font-size: @main-size - 4px;
		font-weight: bold;
		color: @black;
		text-decoration: none;
		&:hover {
			color: @tomato;
			text-decoration: none;
		}
	}
}

// #endregion
// #region Site Footer
.footer {
	width: 100%;
	height: 230px;
	padding: 180px 15px;
	margin-top: -100px;
	background: @bg-gradient;
	&-logo {
		width: 111px;
		height: 30px;
		margin: 0 auto;
		@media @width-768 {
			width: 192px;
			height: 52px;
		}
	}
	&-menu {
		&__list {
			padding: 15px 0;
			margin: 0;
			list-style: none;
			text-align: center;
		}
		&__links {
			display: inline-block;
			text-transform: uppercase;
		}
		&__names {
			.soft-transition();
			padding: 0 5px;
			font-size: @main-size - 8px;
			font-weight: 300;
			color: @white;
			text-decoration: none;
			&:hover {
				color: @black;
				text-decoration: none;
			}
		}
	}
}

// #region